@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
  background-color: #CCD1D1 ;
}

.header a{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.enabled{
  transition: 1.5s;
  transform: translateX(-110vh);
}

.disabled{
  transition: 1.5s;
  transform: translateX(0);
}
